body {
  margin: 0;
}

header {
  width: 100%;
  background: blue;
  text-align: center;
}

header .logo {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 2em;
  padding-top: 25px;
}

header input {
  padding: 10px;
  height: 30px;
  margin: 25px;
  width: 50%;
  min-width: 300px;
}
